<!-- <my-b></my-b>
<my-file [var1]="a" [trainingName]="trainingName"></my-file>
<app-my-head [text]="text" (var_1)="getData($event)"></app-my-head>
<br><br />
{{text}}
<my-laptop [num]="text"></my-laptop>
<br> -->
<!-- <app-event-property-demo></app-event-property-demo> -->
<!-- <my-mgr></my-mgr>
<blnd></blnd>
<my-foot></my-foot> -->
<!-- <one-componenet [item]="oneItem"></one-componenet> -->



<!-- <twoComponent [js]="js" (val_1)="onenewItem($event)"></twoComponent> -->
<!-- <app_event_property></app_event_property> -->
<!-- <built_dir></built_dir> -->

<!-- <h1>Hello</h1>
<ul>
    <a routerLink="one" routerLinkActive="active">HOME</a>
    <a routerLink="body1" routerLinkActive="active">LOGIN</a>
    <a routerLink="dir" routerLinkActive="active">USER</a>
    <a routerLink="consume" routerLinkActive="active">ABOUT</a>
    <a routerLink="apimongoservice" routerLinkActive="active">password</a>
</ul>
<router-outlet></router-outlet> -->